body {
            padding-top: 70px;
            background-image: linear-gradient(to bottom right, red, pink);

        }
.jumbotron
       {


              background-image: url("/images/vino.jpg");
              background-color: #cccccc;
              min-height: 50%;
              background-repeat: no-repeat;
              background-position: center;
              -webkit-background-size: cover;
              background-size: cover;
              opacity: 1;
              font-family: 'Kaushan Script';font-size: 22px; 


         }
         
#para1,#para2,#para3,#para4{
	      color:black;
	      text-align: center;
        background-image:linear-gradient(to right,red 0%,white 100%), url("/images/oak.jpg ");
        background-blend-mode: screen;
        min-height: 20%;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        opacity: 1;
        font-family: 'Kaushan Script';font-size: 15px; 
        
}         

.navbar{
            background-image: linear-gradient(to bottom right, red, green);
          

}         
footer{
	        padding-top: 5px;
          background-color:;
          text-align: center;
          height: 100px;
}
button {
          background-image:linear-gradient(to bottom right, red,pink); 
          border-radius:20% ; 
        
}
.region{
         color: darkred;
         font-weight: bold;
         

}
.head{
      font-family: 'Kaushan Script';font-size: 22px;
      text-align: center;
}
.galscreen{
              background-color: white;
              font-style: italic;
                padding-left: 8px;
                border-radius: 20px;

  }            

p.test {
    padding-left: 8px; 
    border: 1px solid #000000;
    word-wrap: break-word;
}
.style1,
.style2
         {
            border: 1px solid #000000;
            color: red;
            padding-left: 8px;
            font-weight: bold;

}
.style3,
.style4,
.style5
         {
            border: 1px solid #000000;
            color: blue;
            padding-left: 8px;
            font-weight: bold;

}
.alpha{
          
          font-weight: bold;
          
}
#demo{
        color:black;
        font-weight: bold;
        text-align: center;
        background-image:linear-gradient(to right,red 0%,white 100%), url("/images/oak.jpg ");
        background-blend-mode: screen;
        min-height: 20%;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        opacity: 1;
        font-family: 'Kaushan Script';font-size: 15px; 
        
}
p.alpha1{
             color: black;
             font-weight: bold;


                     }
#mytable, tr{  
              border:1px solid;
              
            

         }
        th, td{
               padding-left: 5px;

         }
#cont{ 
        color:black;
        font-weight: bold;
        text-align: center;
        font-family: 'Kaushan Script';font-size: 35px; 
        

}
figcaption{
             font-weight: bold;
             border: 1px black  solid;
             padding-left: 4px;
             padding-top:4px; 


}
