

    <div class="row">
        <div class="col-md-12">	
            <h1 class="head"> The Center </h1>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-6">
    		<img src="/images/Center.jpg" alt="Workplace" usemap="#workmap" width="80%" height="auto">
    		<map name="workmap">
                <area shape="circle" coords="300,50,100" alt="Abruzzo" title="Abruzzo & Marche Wines"  id="ven">
                <area shape="circle" coords="100,50,100" alt="Umbria & Lazio" title="Umbria &  Lazio"  id="Em">
           </map>
    	</div>
    	<div class="col-md-6">
    		<div id="para4">
                <h2>Umbria & Lazio Wines</h2>
    			<h3 >Umbria </h3>
                <p>Umbria, in central Italy, is a region of lush rolling hills, hilltop villages and iconic, historic towns (exemplified by Orvieto and Assisi). Its annual wine production of around one million hL (26 million gallons) is less than one third that of neighboring Tuscany, and makes it the country's fourth-smallest wine-producing region by volume.
                </p>
                <h3>Lazio</h3>
                <p>Lazio is a region in central Italy, and home to the ancient capital city of Rome. Like many Italian wine regions, Lazio's vine heritage is ancient. Its first inhabitants were the Etruscans, though it was the Latins who gave the area its original name Latium. The Romans brought the region into another era by improving trade and agriculture, although after the collapse of the Roman Empire the land was neglected. Only in the 1870s, when Rome became the capital of Italy, did this wine region flourish once again.                                        
                </p>
    		</div>
    	</div>
    </div>
    <div class="row">
    	
    	<div class="col-md-6">
    		<div id="para3">
    			<h2>Abruzzo </h2>
                <p>Abruzzo (Abruzzi) is an Italian wine region located in the mountainous central Italian region of Abruzzo along the Adriatic Sea. It is bordered by the Molise wine region to the south, Marche to the north and Lazio to the west. Abruzzo's rugged terrain, 65% of which is mountainous, help to isolate the region from the winemaking influence of the ancient Romans and Etruscans in Tuscany but the area has had a long history of wine production.
                <h2>Marche</h2>
    			<p>The Marche region is well known for the quality of its whites made from the prolific Verdicchio grape. Crisp, fresh Verdicchio dei Castelli di Jesi wines, easily recognisable from their green amphora bottles, have impressed wine lovers on an international scale as great partners for seafood.  However some exceptional modern wines can be found in standard bottles, many of them well-structured wines of great depth and character.
    				
                </p>
    		</div>
    	</div>
    	<div class="col-md-6">
    	
    				
    	
    		</div>
    	</div>
    	
         <script type="text/javascript" src='js/regione.js'></script>
