<div class="row">
	<div class="col-md-12">
		<h1 class="head">Gallery Wines Center </h1>
		<h2 class="head"> Umbria </h2>
	</div>
</div>
<div class="galscreen">
<div class="row" >
	<div class="col-md-4">		
		<img src="/images/san.jpg" width="100%" height="auto" ng-mouseover="classimg()" ng-mouseleave= "removeclass()">
		<h4 class="head">Santa Crisitna</h4>
		<p ng-class="class1">Santa Cristina Bianco is a straw yellow in color. The nose is dominated by the intensely fruity notes of bananas and citrus fruit typical of Grechetto and Procanico, and by candied fruit, characteristic of Viognier as a variety. The palate is balanced, savory, and with a good freshness and softness along with the fruity notes which recall the aromas felt on the nose.



        </p>
	</div>
	<div class="col-md-4">
		<img src="/images/sacrantino.jpg" width="100%" height="auto"  ng-mouseover="style1 = true"  ng-mouseleave="style1= false">
		<h4 class="head">Montefalco Sagrantino</h4>
		<p ng-class="{style1: style1}">The Ambassador in the World of the Montioni Family , excellent for those who love Umbria and the territory of Montefalco and every now and then they want to remember the warmth and hospitality of this land.Intense taste and spicy perfumes it s good macthing with
			mature cheese and roast.

			
		</p>
	</div>
	<div class="col-md-4">
		<img src="/images/antinori.jpg" width="60%" height="auto" ng-mouseover="style2 = true"  ng-mouseleave="style2= false">
		<h4 class="head">Antinori White Wine</h4>
		<p ng-class="{style2: style2}">The wine takes its name from the first owners of the Castello della Sala and the label shows a drawing of the 15th century Chapel of San Giovanni located in the property. From the yellow color with light greenish reflections, floral and herbaceous notes emerge to the nose, followed by hints of white pulp fruit complemented by pleasant citrus notes combined with pineapple aromas. On the palate it has a good balance between structure and acidity, with a long and persistent finish
			
		</p>
	</div>
</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2 class="head">Lazio</h2>
	</div>
</div>
<div class="galscreen">
	<div class="row">
		<div class="col-md-12"><h3 class="head">Red Wines & White Wines </h3></div>
	</div>
<div class="row">
	<div class="col-md-4">
		<img src="/images/cabernet.jpg" width="40%" height="auto"  ng-mouseover="style3 = true"  ng-mouseleave="style3= false">
		<h4 class="head">Cabernet Savignon Lazio</h4>
		<p ng-class="{style3: style3}">The grape variety is native of Bordeaux; it is used in the Médoc in combination with Merlot and Petit verdot in the so-called Bordeaux blend, for the purpose of ensuring its structure and personality. American studies have shown that Cabernet sauvignon is a spontaneous crossing between Cabernet franc and Sauvignon blanc.Green pepper, balsamic, vegetal, mint.		</p>
	</div>
	<div class="col-md-4">
		<img class="img1" src="/images/merlot.jpg" width="70%" height="auto" ng-mouseover="style4 = true"  ng-mouseleave="style4= false">
		<h4 class="head">Merlot Lazio</h4>
		<p ng-class="{style4: style4}">This Merlot derives its name from the homonymous vine. Ruby Red colour, intense winey fragrance, dry full and well balanced taste, it is ideal for roasts, grilled dishes, cold and stewed meat. Serve at temperatures of 14-15 C.			
		</p>
	</div>
	<div class="col-md-4">
	     <img src="/images/passito.jpg" width="70%" height="auto"   ng-mouseover="style5 = true"  ng-mouseleave="style5= false">	
		<h4 class="head">Aleatico Passito</h4>
		<p ng-class="{style5: style5}">Passito Aleatico PGI Lazio wine is produced from an aromatic black grape vine, the aleatico. According to etymological studies, its name recalls the adjective “Hellenic” in honour of Greece in which a similar variety is cultivated. The particular drying method used for aleatico grapes is carried out directly on the vine and not on trellis after harvesting.  This leads to an extremely pleasant wine, with a soft and sweet taste and a bouquet with clear floral scents. The colour is red ruby with violet shades.
		</p>
	</div>
</div>
</div>