<div class="row" ng-controller="HomController">
	<div class="col-md-12"><h2 class="head">Emilia Romagna Wines</h2>
</div>
<div class="row">
	<div class="col-md-6">
		<img src="./images/lambrusco.jpg" width="50%" height="auto" ng-mouseover="style1 = true"  ng-mouseleave="style1= false">
		<h4 class="head"> Lambrusco </h4>
		<p ng-class="{style1: style1}">The Lambrusco family is the most widespread in the lands that extends from Parma to Reggio Emilia and Modena. These crispy and juicy grapes give a pleasant bubbly wine that is the most exported in the world. A successful trade that reflects Lambrusco’s popularity in its homeland, where Lambrusco lovers are divided in many groups: those who love the elegant and fine Sorbara, those who appreciate the intense Grasparossa and those who like Salamino or Maestri, then some prefer the sweet version and other the dry one, some enjoy the violet note and others like the hints of ripe wild berries.	
		</p>
	</div>
	<div class="col-md-6">
		<img src="./images/trebbiano.jpg" width="30%" height="auto" ng-mouseover="style2 = true"  ng-mouseleave="style2= false">
		<h4 class="head"> Trebbiano </h4>
		<p ng-class="{style2: style2}">Trebbiano is the most widespread white variety in Emilia Romagna, notably in the province of Ravenna. It is a very productive grape, with a good resistance to parasites. The wine produced from this grape is straw yellow, quite high in alcohol and not very rich in aromas. Not only is Trebbiano wine consumed  as a still wine but it is also used as a base for making spumante or for distillation to produce brandy. In Emilia Romagna, Trebbiano Romagnolo is one of the grapes that are blended together to produce a number of still and sparkling white wines, dry or sweet. Yet, in order to fully appreciate its features, we suggest to taste a DOC (PDO) Romagna Trebbiano or a DOC (PDO) Colli di Imola Trebbiano, which are made with at least 85% of this grape.
			
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12"><h2 class="head">Tuscany Wines</h2>
</div>
</div>
<div class="row">
	<div class="col-md-6">
		<img src="./images/chianti.jpg" width="20%" height="auto" ng-mouseover="style3 = true"  ng-mouseleave="style3= false">
		<h4 class="head">Chianti</h4>
		<p ng-class="{style3: style3}">A Chianti wine  is any wine produced in the Chianti region, in central Tuscany, Italy. It was historically associated with a squat bottle enclosed in a straw basket, called a fiasco ("flask"; pl. fiaschi). However, the fiasco is only used by a few makers of the wine as most Chianti is now bottled in more standard shaped wine bottles. Baron Bettino Ricasoli (later Prime Minister of the Kingdom of Italy) created the Chianti recipe of 70% Sangiovese, 15% Canaiolo and 15% Malvasia bianca in the middle of the 19th century.[1]


			
		</p>
	</div>
	<div class="col-md-6">
		<img src="./images/sangiovese.jpg" width="30%" height="auto" ng-mouseover="style4 = true"  ng-mouseleave="style4= false">
		<h4 class="head">Sangiovese</h4>
		<p ng-class="{style4: style4}">Sangiovese  is a red Italian wine grape variety that derives its name from the Latin sanguis Jovis, "the blood of Jupiter".[3] Though it is the grape of most of central Italy from Romagna down to Lazio (the most widespred grape in Tuscany[4]), Campania and Sicily, outside Italy it is most famous as the only component of Brunello di Montalcino and Rosso di Montalcino and the main component of the blends Chianti, Carmignano, Vino Nobile di Montepulciano and Morellino di Scansano, although it can also be used to make varietal wines such as Sangiovese di Romagna and the modern "Super Tuscan" wines like Tignanello.[5]


			
		</p>
	</div>
</div>