<div class="row">
	<div class="col-md-12">
		<h1 class="head">Gallery Wines Notrh West</h1>
		<h2 class="head"> Aosta </h2>
	</div>
</div>
<div class="galscreen">
<div class="row" >
	<div class="col-md-4">		
		<img src="/images/lescretes.jpg" width="50%" height="auto">
		<h4 class="head">Les Cretes</h4>
		<p>The wine shows a brilliant straw yellow colour and nuances of straw yellow, very transparent. The nose reveals intense, clean, elegant and refined aromas which begin with pleasing aromas of elder and pineapple followed by banana, hawthorn, apple, pear and peach. The palate is very similar to the nose, a crisp and slightly round attack yet well balanced with good body, intense flavours and very agreeable. The finish is persistent with good flavours of pear, pineapple and peach.

        </i></p>
	</div>
	<div class="col-md-4">
		<img src="/images/grosjean.jpg" width="100%" height="auto">
		<h4 class="head">Grossjean</h4>
		<p>You can get a sense of the variety of flavors from the Valle d’Aosta by looking at our top five wines. No. 1 was the 2010 Grosjean Frères cornalin, from the Rovettaz vineyard, a spicy, pleasantly textured, slightly funky wine with intriguing exotic flavors. I don’t know much about the cornalin grape except that it’s also planted in the Valais, in the Swiss Alps, where it’s called humagne rouge. Every time I’ve had this wine in a restaurant, I’ve very much enjoyed it.			
		</p>
	</div>
	<div class="col-md-4">
		<img src="/images/fumin.jpg" width="60%" height="auto">
		<h4 class="head">Fumin</h4>
		<p>Fumin wines, which showcase its full and spicy flavors. Savory and earthy tones underlie dark fruits such as blackberries on the palate. The variety's inclusion in the Valle d'Aosta DOC has perhaps boosted this move towards varietal wines.
			
		</p>
	</div>
</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2 class="head">Piemonte</h2>
	</div>
</div>
<div class="galscreen">
	<div class="row">
		<div class="col-md-12"><h3 class="head">Red Wines</h3></div>
	</div>
<div class="row">
	<div class="col-md-4">
		<img src="/images/barolo.jpg" width="100%" height="auto">
		<h4 class="head">Barolo</h4>
		<p class="test">Barolo is a red Denominazione di Origine Controllata e Garantita (DOCG) wine produced in the northern Italian region of Piedmont. It is made from the Nebbiolo grape and is often described as one of Italy's greatest wines.[1] The zone of production extends into the communes of Barolo, Castiglione Falletto, Serralunga d'Alba and parts of the communes of Cherasco, Diano d'Alba, Grinzane Cavour, La Morra, Monforte d'Alba, Novello, Roddi, Verduno, all in the province of Cuneo, south-west of Alba.			
		</p>
	</div>
	<div class="col-md-4">
		<img class="img1" src="/images/barbaresco.jpg" width="70%" height="auto">
		<h4 class="head">Barbaresco</h4>
		<p id="para6">Barbaresco is an Italian wine made with the Nebbiolo grape. Barbaresco is produced in the Piedmont region in an area of the Langhe immediately to the east of Alba and specifically in the comunes of Barbaresco, Treiso and Neive plus that area of the frazione San Rocco Seno d'Elvio which was once part of the comune of Barbaresco and now belongs to the comune of Alba. It was granted Denominazione di origine controllata (DOC) status in 1966 and Denominazione di Origine Controllata e Garantita status in 1980.			
		</p>
	</div>
	<div class="col-md-4">
	     <img src="/images/nebbiolo.jpg" width="70%" height="auto">	
		<h4 class="head">Nebbiolo</h4>
		<p>Nebbiolo (Italian), or Nebieul (Piedmontese) is an Italian red wine grape variety predominantly associated with its native Piedmont region, where it makes the Denominazione di Origine Controllata e Garantita (DOCG) wines of Barolo, Barbaresco, Roero, Gattinara and Ghemme. Nebbiolo is thought to derive its name from the Italian word nebbia which means "fog." During harvest, which generally takes place late in October, a deep, intense fog sets into the Langhe region where many Nebbiolo vineyards are located.
			
		</p>
	</div>
</div>
</div>
<script type="text/javascript" src='js/moveimg.js'></script>