<div class="row">
	<div class="col-md-12">
		<h4 class="head"> Veneto Wines  </h4>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<img src="./images/valpolicella.jpg" width="30%" height="auto" ng-mouseover="style3 = true"  ng-mouseleave="style3= false">
		<h4 class="head">Valpolicella</h4>
		<p ng-class="{style3: style3}">DescriptionValpolicella is a viticultural zone of the province of Verona, Italy, east of Lake Garda. The hilly agricultural and marble-quarrying region of small holdings north of the Adige is famous for wine production. Valpolicella ranks just after Chianti in total Italian Denominazione di Origine DescriptionValpolicella is a viticultural zone of the province of Verona, Italy, east of Lake Garda. The hilly agricultural and marble-quarrying region of small holdings north of the Adige is famous for wine production. Valpolicella ranks just after Chianti in total Italian Denominazione di Origine 
		</p>
	</div>
	<div class="col-md-6">
		<img src="./images/bardolino.jpg" width="40%" height="auto" ng-mouseover="style4 = true"  ng-mouseleave="style4= false">
		<h4 class="head">Bardolino</h4>
		<p ng-class="{style4: style4}">
			Bardolino is an Italian red wine produced along the chain of morainic hills in the province of Verona to the east of Lake Garda. It takes its name from the town Bardolino on the shores of Lake Garda and was awarded Denominazione di origine controllata status in 1968.
		</p>
	</div>


</div>
<div class="row">
	<div class="col-md-12">
		<h4 class="head">Trentino Wines</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<img src="./images/pinot.jpg" width="30%" height="auto" ng-mouseover="style1 = true"  ng-mouseleave="style1= false">
		<h4 class="head">Pinot Grigio Trentino</h4>
		<p ng-class="{style1: style1}">Pinot Grigio has been grown in Trentino for decades. In the pedecollinari and valley vineyards - now converted to organic viticulture - of Lavis and Gardolo, on the Franco-sandy lands originating from the deposits of the Avisio torrent and from the alluvial sediments of the Adige river, Pinot Grigio finds the ideal substratum. At the organoleptic analysis, the wine has an intense golden yellow color, with a warm and inviting aroma, rich in ripe fruit and honey. The rich minerality stands out in the mouth, with a long and fruity aftertaste.
			
		</p>
	</div>
	<div class="col-md-6">
		<img src="./images/merlotrento.jpg" width="30%" height="auto" ng-mouseover="style2 = true"  ng-mouseleave="style2= false">
		<h4 class="head"> Merlot Trentino </h4>
		<p ng-class="{style2: style2}">This is the seventh most popular Trentino wine. Interest in this wine is less pronounced than in previous years.This is one of the least expensive Trentino wines.
			
		</p>
	</div>

</div>