
<script >
  function stor(gr){
  var element =  [
      {   grap: "Chardonnay",country: "Country:France",variety: "White, The variety originated in the Burgundy wine region of eastern France," ,description: "Mineralized",matching: "Fish and  Chicken is good matching with this type of wine"},                               
      {   grap:"Savignon Blanck",country:"Country:France",variety:"White Sauvignon blanc is a green-skinned grape variety that originates from the Bordeaux region of France",description :"Mineralized",matching:"Fish, Fruit, Chicken are good matching with type of wine"},
      {   grap:"Syrah",country:"Country:France, Australia",variety:"Red, Syrah also known as Shiraz, is a dark-skinned grape variety grown throughout the world and used primarily to produce red wine.",description:"The wine full body ",matching:"Meat is good matching  with type of wine"},
      {   grap:"Bordeaux", country:"Country:France", variety:"Red, Red Bordeaux is a red wine that is always made from blending Cabernet Sauvignon wine and Merlot wine together, though the proportion of each depends on the location of the winery that made the wine.",description:"The wine medium body",matching:"Meat, Cheese are good matching with type of wine"},
      {   grap:"Merlot",country:"Country: France",variety:"Red, Merlot is a dark blue-colored wine grape variety, that is used as both a blending grape and for varietal wines",description:"The wine with medium body",matching:"Meat, Cheese are good matching with type of wine"}
            ];
            // describe the array of objects wine 
           
             
             var i;
             var text= "";
             for (i= 0; i< element.length ; i++){
                if (gr=== element[i].grap){
                  text += element[i].grap+"<br>"+ element[i].country+"<br>" + element[i].variety+"<br>"+element[i].description+"<br>"+element[i].matching+"<br>"
               
               } 
             }
             document.getElementById("demo").innerHTML = text;
             
             
             

};
</script>

    <div class="row">
        <div class="col-md-12">
            <h1 class="head"> The Grapes </h1>
            <hr>
        </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/chardonnay.jpg" width="50%" height="auto" alt="Chardonnay">
  <div class="card-body">
    <h5 class="card-title">Chardonnay</h5>
    <p class="card-text">Chardonnay is a white wine with high acidity. The main Grape is 
                                                produced in France..</p>
    
  </div>
</div>



      </div>
      <div class="col-md-2">
              <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/savcabernet.jpg"  width="50%" height="auto" alt="Cabernet">
  <div class="card-body">
    <h5 class="card-title">Cabernet Savignon</h5>
    <p class="card-text">Cabernet Sauvignon is one of the world's most widely recognized red wine grape varieties.</p>
    
  </div>
  </div>
      </div>
      <div class="col-md-2">
         <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/merlotgrape.jpg" width="50%" height="auto" alt="Merlot">
  <div class="card-body">
    <h5 class="card-title"> Merlot </h5>
    <p class="card-text">Merlot is a dark blue-colored wine grape variety, that is used as both a blending grape and for varietal wines.</p>
  </div>
      </div>
    </div>
    <div class="col-md-2">
         <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/syrah.jpg" width="50%"  height="auto" alt="Syrah">
  <div class="card-body">
    <h5 class="card-title"> Syrah </h5>
    <p class="card-text">Syrah, also known as Shiraz, is a dark-skinned grape variety grown throughout the world and used primarily to produce red wine. </p>
  </div>
      </div>
    </div>
    <div class="col-md-2">
         <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/pinotnoir.jpg" alt="Pinot Noir" width="50%" height="auto" height="auto" alt="Merlot">
  <div class="card-body">
    <h5 class="card-title"> Pinot Noir </h5>
    <p class="card-text">Pinot noir is a red wine grape variety of the species Vitis vinifera. The name may also refer to wines created predominantly from pinot noir grapes.
</p>
  </div>
      </div>
    </div>
    <div class="col-md-2">
         <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/savigno blanck.jpg" alt="Savignon Blanck" width="50%" height="auto" alt="Merlot">
  <div class="card-body">
    <h5 class="card-title">Savignon Blanc </h5>
    <p class="card-text">Sauvignon blanc is a green-skinned grape variety that originates from the Bordeaux region of France. It is possibly a descendant of Savagnin.
</p>
  </div>
      </div>
    </div>
    
  </div>

          <br>
<div class="row">
   
     <div class="col-md-6">
          <table id="mytable" width="100%">
            <thead>
            <tr>
              <th>Grape</th>
              <th>Color</th>
              <th>Acidity</th>
              <th>Body</th>  
              <th>Tannic</th>
            </tr>
          </thead>
            <tbody>
              
            </tbody>    
          </table><br><br>
          <button type="button"  btn-lg" data-toggle="modal" data-target="#myModal">Edit</button>
             <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Form</h4>
      </div>
      <div class="modal-body">
        <form  method="post" action="" >
           <select  name="Grape" >
              <option value="" disabled selected>Grape  </option> 
              <option  value="Chardonnay">Chardonnay</option>
              <option   value="Savignon Blanck">Savignon Blanck</option>
              <option   value="Syrah">Syrah</option>
              <option   value="Bordeaux">Bordeaux</option>
              <option   value="Merlot">Merlot</option> 
          </select>  
          <br><br>
          <select name="Color"  >
            <option value="" disabled selected >Color </option> 
              <option  value="Red">Red</option>
              <option  value="White">White</option>
              <option  value="Rose">Rose</option>
          </select> 
          <br><br>
          <select name="Acidity"  >
            <option value="" disabled selected>Acidity </option> 
              <option  value="Light">Light</option>
              <option  value="Medium">Medium</option>
              <option  value="High">High</option>
          </select> 
          <br><br>
          <select name="Body"  >
            <option value="" disabled selected>Body </option> 
              <option  value="Light">Light</option>
              <option  value="Medium">Medium</option>
              <option  value="Full">Full</option>
          </select> 
          <br><br>
          <select name="Tannic"  >
            <option value="" disabled selected>Tannic </option> 
              <option  value="Low">Low</option>
              <option  value="Medium">Medium</option>
              <option  value="Full">Full</option>
          </select> 
          <br><br>
          <button type="button"  id="btn-add"  data-dismiss="modal" >Add</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
<div class="col-md-6"  >
 <div id="demo"></div>
</div>
</div>        
<script type="text/javascript" src='js/grap.js'></script>



     

 


    
  