<div class="container" >
              
        <div class="jumbotron"  >
            <h1 align="right"> The Italian Wine </h1>  
            <p class="para1"> Italy is home to some of the oldest wine-producing regions in the world. Italian wine regions are known for their rich variety of wine styles. Italy, closely followed by Spain and France, is the world’s largest wine producer by volume.</p>
  </div>
    <div>
            
     
    <div class="row"  >
    <div class="col-sm-4">
    	<p><a href="/">North</a></p>

    	
    </div>  
    <div class="col-sm-4">
    	<a href="/center">Center</a>
    </div>
    <div class="col-sm-4">
    	<a href="/south">South</a>
    </div>  
</div>

<div ng-show></div>
     </div>       
       
    

</div>


          
