<div class="row">
<div class="col-md-12">
	<h2 class="head">Sicily & Sardinia Wines</h2>
</div>
</div>
<div class="row">
	<div class="col-md-6">
			<img class="push" src="images/Sicily.jpg" alt="Workplace" title="Sicily Wines" width="80%" height="auto">
			<div id="para3">
		       <h3 >Sicily</h3>
               <p>One of Europe's oldest viticultural regions still offers some pleasant surprises. Sicily's oenological history is an ancient one, dating from the time when the island was part of Magna Graecia. One usually associates fine wines with western Sicily or the areas near Mount Etna, but many new wineries have sprung up across the island. Sicilian oeniculture is not just varietals. Sicily's vintage wines are a magical creation, and many of the island's traditional wines and spirits are famous far beyond its shores. Several boast denomination of origin (appellation). Sicily has its own table and dessert wines, and a number of regional liqueurs.
               The magic is in the fertile soil and Sicily's long, cloudless summers – with humidity but virtually no rain from June until harvesting in late August – two factors which make Sicilian vintages remarkably consistent from year to year.
               	
               </p>  		

	</div>
    </div>
	<div class="col-md-6">
		<img class="push1" src="images/sardinia.jpg" alt="Workplace" title="Sardinia Wines" width="60%" height="auto">
		<div id="para4">
		       <h3 >Sardinia</h3>
               <p>Sardinia is one of the best deals Europe has to offer. It has white sandy beaches, turquoise clear waters and rugged, quintessential island landscape. Actually, Sardinia is even better than that: there’s a treasure of wines to discover as well! Let’s discover the primary wines you’ll get to drink from Sardinia. It’s time to start planning your next winecation…


               </p>  		

	</div>
	</div>
</div>
<script type="text/javascript" src='js/isle.js'></script>