
    <div class="row">
        <div class="col-md-12">
            <h1 class="head"> The South </h1>
        </div>
    </div>    
        <div class="row">
        	<div class="col-md-6">
        		<img src="/images/southern.jpg" alt="Workplace" usemap="#workmap" width="60%" height="auto">
    		<map name="workmap">
                <area shape="circle" coords="200,250,100" alt="Basilicata  Puglia " title="Basilicata  Puglia Calabria Wines"  id="ven">
                <area shape="circle" coords="100,50,100" alt="Molise & Campania" title="Molise  &  Campania"  id="Em">
           </map>
        	</div>
        	<div class="col-md-6">
        		<div id="para4">
                     <h2>Molise & Campania Wines</h2>
        			<h3>Molise</h3>
        			<p>It is considered a rather obscure region, because although wines have been made in Molise as far back as 500 BC with influences coming from the Samnites, Etruscans and Romans, it only gained its independence as a wine region in the last half of the 20th century.
        				
        			</p>
        			<h3>Campania</h3>
        			<p>Grapes have been grown in the fertile soil of Campania since ancient times, and one of the pleasures of traveling through this region in southern Italy is the chance to discover the unique varieties of wine produced in this area. From the rolling hillsides in the provinces of Benevento and Avellino to the steeply terraced vineyards of the Amalfi Coast and the islands of Capri and Ischia to the slopes of Mt. Vesuvius, the wines of Campania are as varied as the landscape. Enjoy locally made wines during your holiday, especially since they pair wonderfully with the regional foods of Campania.       				
        			</p>
        		</div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-12">
               <div id="para3">
               	<h2>Basilicata Puglia & Calabria Wines</h2>
               	<h3>Basilicata</h3>
               	<p>Basilicata has everything it needs to produce fine, ageworthy red wines and yet the region is rarely on the radar of wine lovers, much less serious collectors. A little while ago, just around the turn of the new century, some knockout Aglianico del Vulture wines promised better things to come, but that momentum was not sustained and the area fell on tough times, with numerous estates, restaurants and hotels closing shop. But after languishing in the doldrums for a spell, Basilicata’s wine scene has perked up considerably, thanks to an energetic new generation of winemakers taking over their family domaines and a number of exciting new wineries now appearing on the scene.               		
               	</p>
               	<h3>Puglia</h3>
               	<p>If you want fruit-forward, ripe, red wine for a good price, look no further than Puglia. Some of the best values in Italian wine come from this sunny, dry region. Most Puglia wine is red, full-bodied and will pair well with a wide variety of foods. Producers in Puglia have focused on making great red wines and local grapes like Negroamaro, Primitivo, and Bombino Nero make for delicious drinking.               		
               	</p>
               	<h3>Calabria</h3>
               	<p>Calabrian wine (Italian: Vino Calabrese) is Italian wine from the Calabria region of southern Italy. Over 90% of the region's wine production is red wine, with a large portion made from the Gaglioppo grape. Calabria has 12 Denominazione di origine controllata (DOC) regions but only 4% of the yearly production is classified as DOC wine.
               		
               	</p>
               </div>        		
        </div>
    
     <script type="text/javascript" src='js/regione.js'></script>

